html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.container {
	max-width: 960px;
	min-width: 500px;
}

body {
    text-align: center; 
}

#content {
	width: 40%;
    margin: 0 auto;
    max-width: 950px;
    text-align: left;
}

/* Control Panel Styling */
div.feature {
	clear: left;
	padding-bottom: 5px;
	overflow: auto;
}

#control-panel {
	float: left;
}

#control-panel-content {
	padding: 10px 5px 8px 5px;
}

#control-panel h2 {
	padding: 0px;
	margin: 0px;
}

div.room h3 {
	margin: 0px;
	padding: 10px 0px 2px 0px;
	text-align: left;
}

div.feature input.checkbox {
	clear: left;
	float:left;
	margin-top: 6px;
	margin-right: 4px;
}

div.feature label.checkbox {
	float:left;
	padding-left: 5px;
}	

input.integer {
	margin: 0px 0px 0px 8px;
	padding: 0px;
    text-align: right;
}

/* SVG STYLING */
#svg-container {
	width: 60%; 
	max-width: 700px
}
